
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
cmake_install.cmake
CMakeCache.txt
Chess.build/Debug/ALL_BUILD.build/dgph
Chess.build/Debug/ALL_BUILD.build/Script-BDCE3C301D4047098068F788.sh
Chess.build/Debug/Chess.build/dgph
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Bishop.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Bishop.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Bishop.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Board.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Board.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Board.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Chess.LinkFileList
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Chess_dependency_info.dat
Chess.build/Debug/Chess.build/Objects-normal/x86_64/ChessPiece.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/ChessPiece.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/ChessPiece.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/HumanPlayer.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/HumanPlayer.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/HumanPlayer.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Interface.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Interface.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Interface.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/King.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/King.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/King.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Knight.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Knight.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Knight.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/main.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/main.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/main.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/MinMaxPlayer.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/MinMaxPlayer.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/MinMaxPlayer.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Move.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Move.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Move.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Pawn.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Pawn.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Pawn.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/PieceColor.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/PieceColor.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/PieceColor.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Player.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Player.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Player.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Queen.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Queen.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Queen.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/RandomPlayer.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/RandomPlayer.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/RandomPlayer.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Rook.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Rook.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Rook.o
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Square.d
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Square.dia
Chess.build/Debug/Chess.build/Objects-normal/x86_64/Square.o
Chess.build/Debug/ZERO_CHECK.build/dgph
Chess.build/Debug/ZERO_CHECK.build/Script-8A234CA484354E9296AE2847.sh
Chess.build/Release/Chess.build/dgph
Chess.build/Release/ZERO_CHECK.build/dgph
Chess.xcodeproj/project.pbxproj
Chess.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Chess.xcodeproj/project.xcworkspace/xcuserdata/mrlukasbos.xcuserdatad/UserInterfaceState.xcuserstate
Chess.xcodeproj/project.xcworkspace/xcuserdata/mrlukasbos.xcuserdatad/WorkspaceSettings.xcsettings
Chess.xcodeproj/xcuserdata/mrlukasbos.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Chess.xcodeproj/xcuserdata/mrlukasbos.xcuserdatad/xcschemes/Chess 2.xcscheme
Chess.xcodeproj/xcuserdata/mrlukasbos.xcuserdatad/xcschemes/Chess.xcscheme
Chess.xcodeproj/xcuserdata/mrlukasbos.xcuserdatad/xcschemes/xcschememanagement.plist
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.cxx
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.10.0/CMakeCCompiler.cmake
CMakeFiles/3.10.0/CMakeCXXCompiler.cmake
CMakeFiles/3.10.0/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.10.0/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.10.0/CMakeSystem.cmake
CMakeFiles/3.10.0/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-non-framework-target-headers.hmap
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-target-headers.hmap
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-generated-files.hmap
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-own-target-headers.hmap
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-project-headers.hmap
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.hmap
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/dgph
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.d
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.dia
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.o
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC.LinkFileList
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC_dependency_info.dat
CMakeFiles/3.10.0/CompilerIdC/CompilerIdC.xcodeproj/project.pbxproj
CMakeFiles/3.10.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-non-framework-target-headers.hmap
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-target-headers.hmap
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-generated-files.hmap
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-own-target-headers.hmap
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-project-headers.hmap
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.hmap
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/dgph
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.d
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.dia
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.o
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX.LinkFileList
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX_dependency_info.dat
CMakeFiles/3.10.0/CompilerIdCXX/CompilerIdCXX.xcodeproj/project.pbxproj
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeDebug
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeMinSizeRel
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelease
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelWithDebInfo
CMakeScripts/ReRunCMake.make
CMakeScripts/XCODE_DEPEND_HELPER.make
CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeDebug
CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeMinSizeRel
CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeRelease
CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeRelWithDebInfo
Debug/Chess

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
Game.dia
*.o
CMakeFiles
IDEWorkspaceChecks.plist
